@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color:rgba(19, 17, 17, 0.925);
    margin: 0px;
    font-size: 62.5%
}

/* -- Header Section begins -- */
header {
    position: fixed;
    top: 0px;
    left: 0px;
	width: 100%;
    height: 9vh;
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: 0.6s;
    z-index: 999;
}

header.sticky {
    background-color: #201d1d;
    height: 7vh;
}

#hire {
    text-decoration: none;
    margin: 2rem;
    color: #e09a21;
    font-family: "Press Start 2P";
    font-size: 1.5em;
}
/* -- Header section ends -- */

/*-- a. Home section begins --*/
.greeting-page {
    background-color: transparent;
    width: 100%;
    height: 100vh;
}

ul.nav {
    display: flex;
    min-height: 48px;
    gap: 3rem;
    align-items: center;
    margin: 2rem;
}

ul.nav li {
    display: inline-block;
    list-style: none;
}

ul.nav li a {
    text-decoration: none;
    color:azure;
    font-family: "consolas";
    font-size: 2em;
}

ul.nav li.current-page a {
    color: #e09a21;
}

#home-div {
    position: absolute;
    width: 60%;
    height: 25%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#home-div h1 {
    color:azure;
    font-size: 3em;
    font-family: "Press Start 2P";
    letter-spacing: 2px;
}

#home-div h2 {
    color:rgba(41, 36, 36, 0.925);
    width: 100%;
    font-size: 3.5em;
    font-family: consolas;
    -webkit-text-stroke: 0.05vw #e09a21;
    animation: typing 2.5s steps(64), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

#home-div h3 {
    color: #e9b863;
    font-size: 1.75em;
    font-family: consolas;
}

#home-div ul {
    display: flex;
    width: 200px;
    gap: 5em;
    float: left;
    padding-left: 0;
    align-content: center;
    justify-content: center;
    margin-left: 0;
    list-style: none;
}

#home-div ul li {
    width: 30px;
    height: 30px;
}

#home-div ul li a:hover {
    opacity: 0.75;
}

@media only screen and (max-width:1024px) {
    #home-div h2 {
        font-size: 3.5vw;
        -webkit-text-stroke: 0;
        color: #e9b863;
    }
}
/*-- Home section ends --*/

/*-- b. About section begins --*/
#about {
    display:block;
    width: 100%;
    /* height: 100vh; */
    /* border: 1px solid red; */
}

#about-header {
    color: #201d1d;
    font-family: "Press Start 2P";
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;
    line-height: 7vh;
    position: relative;
    height: 7vh;
    font-size: 34;
    background-color: #e9b863;
}

#about-header:hover {
    background-color: #e09a21;
}

#info {
    display: block;
    width: 100%;
    padding-top: 50px;
    text-align: center;
}

#info h1 {
    color: azure;
    font-family: consolas;
    font-size: 3em;
}

#info h2 {
    color: #e09a21;
    font-family: "Press Start 2P";
}


#description {
    display: flex;
    max-width: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#img-div img {
    width: 100%;
    height: 90%;
    border-radius: 50%;
    shape-outside: round();
}

#description p {
    color: rgb(190, 202, 202);
    font-family: consolas;
    font-size: 2em;
    text-align: left;
    padding-left: 20px;
    padding-top: 0;
    margin-top: 0;
}

#additional-info {
    display: flex;
    max-width: 720px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
}

#profile {
    display: block;
    text-align: left;
    width: 50%;
}

#skills {
    display: block;
    text-align: left;
    width: 50%;
    padding-left: 20px;
}

#additional-info h1 {
    color: #e9b863;
    font-family: "Press Start 2P";
    font-size: 1.5em;
    letter-spacing: 1px;
}

#additional-info h2 {
    color:rgba(70, 62, 62, 0.925);
    font-size: 2em;
}

#additional-info h3 {
    color: rgb(190, 202, 202);
    font-family: consolas;
    font-size: 2em;
}

#additional-info p {
    color: rgb(190, 202, 202);
    font-family: consolas;
    font-size: 2em;
    text-align: left;
}

#profile p a {
    color: #e09a21;
    text-decoration: none;
}

#profile p a:hover {
    color: #e9b863;
}

#skills ul {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}

#skills ul li {
    display: inline-block;
    width: 45%;
    align-items: center;
    margin-top: 10px;
    margin-right: 4%;
}

#skills ul li:hover {
    scale: 1.2;
    transition: 0.6s;
}

#skills span {
    display: flex;
    align-items: center;
}

#skills h2 {
    line-height: 100%;
    color: azure;
    padding-left: 10px;
    font-family: consolas;
    font-size: 2.2em;
}

#skills img {
    height: 35%;
    width: 35%;
}

@media only screen and (max-width: 720px) {
    #description {
        display: block;
        width: 90%;
    }

    #description p {
        text-align: justify;
        width: 90%;
        padding-left: 0px;
        margin: 0 auto;
    }

    #img-div {
        padding-bottom: 20px;
    }

    #img-div img {
        width: 200px;
        height: 200px;
    }

    #additional-info {
        display: block;
    }

    #profile {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding-top: 25px;
    }

    #profile p {
        width: 90%;
        text-align: justify;
        margin: 0 auto;
    }

    #data {
        width: 90%;
        margin: 0 auto;
    }

    #skills {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding-top: 25px;
    }

    #skills p {
        width: 90%;
        text-align: justify;
    }

    #additional-info h2, h3 {
        text-align: left;
    }
}

@media only screen and (max-width: 360px) {
    #skills ul {
        justify-content: center;
    }

    #skills ul li {
        width: 50%;
    }
}

/*-- About section ends --*/